.div-card{
  width: 175px;
  height: 270px;
  background-color: #cccccc;
  cursor: pointer;
  border-radius: 3px;
}

.div-card img{
  margin-left: 12px;
  width: 150px;
  height: 150px;
}

.div-card:hover{
  transform: scale(1.1);

  z-index: 0;
}
