

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.size-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkbox-row {
  margin-right: 10px;
}

