body, html {
  height: 100%;
  margin-left: -4px;
  padding: 0;
}

.content{
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: azure;
}

.img-container{
  display: flex;
  padding-left: 230px;
  flex-direction: column;
  align-items: center;
}

.details-container{
  display: flex;
  padding-left: 230px;
  flex-direction: column;
  align-items: normal;
}

.details-container label{
  font-size: 24px;
}


.main-image{
  height: 300px;
  width: 300px;
  background-color: #04AA6D;
}

.color-choice{
  height: 25px;
  width: 25px;
  border-radius: 25px;
  margin-left: 10px;
  margin-top: 10px;
}
.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.size-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.size-container button {
  background-color: transparent;
  margin: 5px;
  /* Add other styles as needed */
}

.size-container button.selected {
  background-color: #555555;
}

